.headerContainer {   
  height: 60px;
  background-color: var(--color-white);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerMaxContentContainer {
  height: 100%;
  width: 100%;
  max-width: var(--max-content-width);
  margin: 0 auto;
}

.headerContentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}